@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,900;1,300;1,400&family=Teko:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'teko';
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
}


main {
    padding-left: 0%;
}


/*====== header ======*/
.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40%;
    padding-left: 2px;
    padding-top: 5px;
    list-style: none;
}

li {
    margin: 1cm;
    font-size: 3vh;
}

.titulos-header {
    display: flex;
    height: 10%;
    padding-right: 5cm;
}

.logo {
    height: 150px;
    width: 150px;
}

header {
    background-image: url(./sources/banner.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    border-block-end-style: groove;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}


.quien-header,
.album-header,
.recital-header,
.contacto-header {
    margin: 20px;
}

#icon-menu {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #c0aeaefa;
    border-radius: 100%;
    color: #9d3535;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* === Body ===*/
.photo-frank {
    height: 50vw;
    border-radius: 50px;

}

.quien-frank {
    font-size: 5vh;
}

.container-photo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.texto-quien {
    text-align: center;
}

.container-quien {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
}

.banner-varios {
    display: flex;
    background-image: url(./sources/bannervarios.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 30px;
    align-items: center;
    padding-left: 0%;
}

.banner-rosa {
    display: flex;
    background-image: url(./sources/BannerRosa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 30px;
    align-items: center;
}

.titulo-section {
    font-size: 5vh;
    padding-left: 5px;
    text-decoration: underline;
}

.card-title {
    font-size: 3vh;
    text-decoration: underline;
}

/* === Albumes ===*/

.card-album {
    width: 20vw;
}


.photo-album {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.container-album {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

/* === Recitales===*/

.photo-recitales {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.recitales {
    padding-top: 60px;
}

.recital {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}

.container-recitales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 25px;
}

.titulo-recital {
    font-size: 4vh;
}

.link-entradas {
    font-size: 3vh;
}


/* === Footer ===*/

.contacto {
    font-size: 250%;
}

input {
    width: 10cm;
    height: 1cm;
    border-color: rgb(0, 0, 0);
}

.input-age {
    width: 30px;
    margin: 10px;
}

.motivo {
    width: 10cm;
}


.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: double;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.bannerFooter {
    display: flex;
    flex: wrap;
    width: 50%;
    align-items: flex-end;
    background-image: url(./sources/fotoBMW.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 57vh;
    width: 70%;
}


.primer-f {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 120%;
    width: 50%;
    padding-left: 3px;
    justify-content: center;
    align-items: center;
}



.motivo {
    height: 1cm;
    min-width: none;
}

.segundo-f {
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: center;
}

.spotify {
    height: 60px;
    width: 60px;
}

.instagram {
    display: flex;
    height: 58px;
    width: 58px;
}

.twitter {
    height: 60px;
    width: 60px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    align-self: center;

}


.logosMedia {
    list-style: none;
}

/* === channel.index ===*/

.cuerpo-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    text-decoration: solid;
    padding-top: 1cm;
}

.foto-blonde-index {
    background-image: url(../TP_LANDING_PAGE/sources/albumCovers/BlondCover.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}

.foto-nostalgia-index {
    background-image: url(../TP_LANDING_PAGE/sources/albumCovers/Nostalgia.cover.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}

.foto-channel-index {
    background-image: url(../TP_LANDING_PAGE/sources/albumCovers/ChannelOrangeCover.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}

/* MEDIA QUERIES */

@media (max-width:1240px) {
    .encabezado {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .move-container-all {
        transform: translateX(300px);
    }

    .menu {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #b4aaa1;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }


    .menu-selected:before {
        width: 0;
    }

    .menu nav ul li a {
        margin-top: 40px;
        color: #b6a2a2;
    }

    #icon-menu {
        display: flex;
    }



    .nav-menu a:after {
        bottom: 0;
        width: 0;
    }
}

@media(max-width:1042px) {
    .bannerFooter {
        display: flex;
        flex: wrap;
        width: 50%;
        align-items: flex-end;
        background-image: url(../TP_LANDING_PAGE/sources/frankF1.JPG);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 57vh;
        width: 70%;
    }
}



@media(max-width:900px) {
    .container-album {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .card-text {
        margin-bottom: 50px;
    }


    .container-recitales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recital {
        margin-bottom: 50px;
    }


    .bannerFooter {
        display: flex;
        flex: wrap;
        width: 50%;
        align-items: flex-end;
        background-image: url(../TP_LANDING_PAGE/sources/BannerNaranja.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 57vh;
        width: 100%;
    }

    .foot {
        display: flex;
        flex-direction: column;
    }

    .logosMedia {
        display: flex;
        flex-direction: row;
    }

    .main-footer {
        display: flex;
        flex-direction: column;

    }

    label {
        display: block;
    }

    .container-album {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .icon {
        display: block;
    }

}




/* No pude terminar bien el menu hamburguesa, me quedo una parte incompleta */